# [colcon-test-result](https://pypi.org/project/colcon-test-result)

## Dependencies
- [colcon-core](packages/c/colcon-core.md)



## Publishers
- [dthomas](https://pypi.org/user/dthomas)

